<section class="wrapper">
  <h2 class="title">Register</h2>
  <form class="form" action="" method="post">
    <label for="email">email</label>
    <input #emailInput type="email" id="email" />
    <label for="pass">password</label>
    <input #passwordInput type="password" id="pass" />
    <button
      (click)="register(emailInput.value, passwordInput.value)"
      class="btn"
    >
      register
    </button>
    <p class="error" *ngIf="error.isError">{{ error.message }}</p>
  </form>
  <p>
    Already have an account? Click
    <a class="link" routerLink="/login">here</a> to login!
  </p>
</section>
