.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(43, 88, 61);
  border-radius: 13px 0 13px 0;
  height: 80.6vh;
  position: relative;
  .title {
    font-size: 90px;
    font-weight: 900;
    text-shadow: 3px 3px 0px rgb(43, 88, 61, 0.5);
  }
  .description {
    font-size: 60px;
    font-weight: 500;
  }

  .action {
    font-size: 30px;
    font-weight: 500;
    .link {
      text-decoration: none;
      color: rgb(43, 88, 61);
      font-size: 30px;
      font-weight: 900;
    }
  }
}
