<section class="wrapper">
  <h1 class="main-title">Forum dashboard</h1>
  <section class="topics">
    <article class="topic-wrapper">
      <section class="topic">
        <h3 class="title" draggable="false">Rules</h3>
        <p>author: bat Petio</p>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">favorite</button>
        <a routerLink="/details" class="btn">open</a>
      </section>
    </article>
  </section>
</section>
