<section class="wrapper">
  <h1 class="main-title">Forum dashboard</h1>
  <section class="topics">
    <article class="topic-wrapper">
      <section class="topic">
        <h3 class="title" draggable="false">Drinking rules 101</h3>
        <p>author: bat Petio</p>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">tejko piene</p>
      </section>
      <section class="btns">
        <button class="btn">favorite</button>
        <a routerLink="/details" class="btn">open</a>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <h3 class="title" draggable="false">Davaite masi</h3>
        <p>author: bat Petio</p>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">snimki da ima</p>
      </section>
      <section class="btns">
        <button class="btn">favorite</button>
        <a routerLink="/details" class="btn">open</a>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <h3 class="title" draggable="false">Piqn na rabota</h3>
        <p>author: bat Petio</p>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">izlizane v bolni4ni</p>
      </section>
      <section class="btns">
        <button class="btn">favorite</button>
        <a routerLink="/details" class="btn">open</a>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <h3 class="title" draggable="false">Izlizane v otpuska</h3>
        <p>author: bat Petio</p>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">sutrin i ve4er piene</p>
      </section>
      <section class="btns">
        <button class="btn">favorite</button>
        <a routerLink="/details" class="btn">open</a>
      </section>
    </article>
  </section>
</section>
