<section class="wrapper">
  <section class="main-title">Forum dashboard</section>
  <section class="topics">
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
    <article class="topic-wrapper">
      <section class="topic">
        <a href="/" class="title" draggable="false">Rules</a>
        <p class="date-time">11.12.22 15:17</p>
        <p class="description">this is partial desc</p>
      </section>
      <section class="btns">
        <button class="btn">⭐</button>
        <button class="btn">📝</button>
      </section>
    </article>
  </section>
</section>
