.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  border: 1px solid green;
  border-radius: 13px 0 13px 0;

  .main-title {
    font-size: 80px;
    font-weight: 900;
    text-shadow: 3px 3px 0px rgb(43, 88, 61, 0.5);
  }

  .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;

    .topic-wrapper {
      border-radius: 13px 0 0 0;
      border: 1px solid rgb(43, 88, 61);
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
      box-shadow: 10px 10px 0px 0px rgb(43, 88, 61, 0.8);
      width: 60vw;
      transition-duration: 100ms;
      background-color: rgb(157, 207, 177);

      &:hover {
        transform: translateY(-5px);
        transition-duration: 100ms;
      }

      .topic {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
          width: fit-content;
          color: rgb(43, 88, 61);
          font-size: 35px;
          text-decoration: none;
          margin: 0;
        }
        .date-time {
          color: black;
          font-size: 16px;
          font-weight: 300;
        }
        .description {
          font-size: 25px;
          font-weight: 300;
        }
      }

      .btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .btn {
          font-size: 25px;
          text-decoration: none;
          background-color: rgb(68, 112, 86);
          color: rgb(43, 88, 61);
          padding: 10px;
          border: 1px solid rgb(43, 88, 61);
          border-radius: 6px 0 0 0;
          cursor: pointer;
          box-shadow: 5px 5px 0px 0px rgba(43, 88, 61, 0.3);
          transition-duration: 100ms;

          &:active {
            transition-duration: 100ms;
            background-color: rgb(49, 100, 71);
            box-shadow: none;
            transform: translateY(5px) translateX(5px);
          }
        }
      }
    }
  }
}
