<section class="wrapper">
  <section class="main-content">
    <section class="user-info">
      <article class="img-wrapper">
        <img
          class="user-img"
          src="https://images.unsplash.com/photo-1569529465841-dfecdab7503b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&q=80"
          alt="user-pic"
        />
      </article>
      <h3 class="user-author">bat Petio</h3>
      <p class="user-level">piqnka</p>
    </section>
    <section class="topic">
      <h2 class="title">Drinking rules 101</h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam at, est
        molestiae et laudantium delectus repellat soluta quidem aspernatur
        dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
        at, est molestiae et laudantium delectus repellat soluta quidem
        aspernatur dolore. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Totam at, est molestiae et laudantium delectus repellat soluta
        quidem aspernatur dolore.
      </p>
      <section class="btns">
        <button class="btn">favorite</button>
        <button class="btn">reply</button>
        <button class="btn">delete</button>
      </section>
    </section>
  </section>
  <section class="post-comment">
    <article class="post-comment-form">
      <textarea class="comment-content" name="comment" id="comment"></textarea>
      <section class="btns">
        <button class="btn">cancel</button>
        <button class="btn">submit</button>
      </section>
    </article>
  </section>
  <section class="comments-wrapper">
    <h2 class="comments-section">comments</h2>
    <section class="comment">
      <section class="user-info">
        <article class="img-wrapper">
          <img
            class="user-img"
            src="https://images.unsplash.com/photo-1453824979084-c8fd42932378?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&q=80"
            alt="user-pic"
          />
        </article>
        <h3 class="user-author">donia Dolores</h3>
        <p class="user-level">starsha piqnka</p>
      </section>
      <section class="topic">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam at,
          est molestiae et laudantium delectus repellat soluta quidem aspernatur
          dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <section class="btns">
          <button class="btn">favorite</button>
          <button class="btn">reply</button>
          <button class="btn">delete</button>
        </section>
      </section>
    </section>
    <section class="comment">
      <section class="user-info">
        <article class="img-wrapper">
          <img
            class="user-img"
            src="https://images.unsplash.com/photo-1569529465841-dfecdab7503b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&q=80"
            alt="user-pic"
          />
        </article>
        <h3 class="user-author">bat Petio</h3>
        <p class="user-level">piqnka</p>
      </section>
      <section class="topic">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam at,
          est molestiae et laudantium delectus repellat soluta quidem aspernatur
          dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <section class="btns">
          <button class="btn">favorite</button>
          <button class="btn">reply</button>
          <button class="btn">delete</button>
        </section>
      </section>
    </section>
  </section>
</section>
