<header class="header">
  <nav class="nav">
    <section class="logo">
      <a class="nav-logo" href="/" draggable="false">RETRO FORUM</a>
    </section>
    <section class="btns">
      <a class="nav-btn" href="/create" draggable="false">Post</a>
      <a class="nav-btn" href="/login" draggable="false">Login</a>
      <a class="nav-btn" href="/register" draggable="false">Register</a>

      <a class="nav-btn profile" href="/profile" draggable="false">Profile</a>

      <a class="nav-btn" href="/about" draggable="false">About</a>
    </section>
  </nav>
</header>

<app-home></app-home>
<app-details></app-details>

<footer class="footer">🍺 retro forum ©️ 2023</footer>
