<section class="wrapper">
  <section class="main-content">
    <section class="avatar-wrapper">
      <section class="img-wrapper">
        <img
          class="img"
          src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"
          alt=""
        />
      </section>
      <button class="btn">upload image</button>
    </section>

    <section class="user-details">
      <h1 class="profile-page">Profile Page</h1>
      <section class="name">
        <h2 class="display-name"><span>name: </span>Gosho</h2>
        <h3 class="nickname"><span>nickname: </span>byrziq</h3>
      </section>
      <section class="description-wrapper">
        <p class="description">
          <span>bio: </span> Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Inventore sapiente dicta commodi placeat maxime similique dolor
          qui corporis? Eos, quod.
        </p>
      </section>
      <section class="btns">
        <button routerLink="/" class="btn">back</button>
        <button routerLink="/edit-profile" class="btn">Edit my Profile</button>
        <button routerLink="/favorites" class="btn">Favorites</button>
        <button routerLink="/my-topics" class="btn">My topics</button>
      </section>
    </section>
  </section>
</section>
